* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh; }

header {
  height: 15vh;
  background-color: #09879d; }

ul li {
  list-style-type: none;
  border: 5px solid black; }
  ul li a {
    text-decoration: none;
    color: black; }

#headerprocedimientos {
  height: 15%;
  background-color: #09879d; }

#tituloprocedimientos {
  grid-area: 1;
  display: flex;
  justify-content: center;
  background-color: #87c0ca; }

main {
  height: 70vh;
  background-color: #87c0ca; }

#mainprocedimientos {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  grid-row: 2;
  background-color: #87c0ca; }

.sectionprocedimientos {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  text-align: center; }
  .sectionprocedimientos iframe {
    width: 300px;
    height: 200px; }

footer {
  height: 15vh;
  width: 100%; }

#footerprocedimientos {
  height: 20%;
  background-color: #87c0ca;
  grid-row: 3;
  text-align: center; }
