// Estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos del cuerpo
body {
  height: 100vh;
}
@import "./variables.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss"