$link-color: black;
#footerprocedimientos{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 30vh;
    flex-direction: column; 
    ul{
        color: link-color;
        margin: 0;
        padding: 0;
        a{
            color:link-color;
            list-style: none;
            text-decoration: none;
      
        }
    }
}
.social-icons{
    display: flex;
    justify-content: right;
    text-align: center;
    a{
        text-decoration: none;
        padding: 10px;
        margin: 10px ;
        &:hover{
            transition: 0.5s;
            transform: translateY(-3%)
        }
        i{
            font-size: 2rem;
            color: link-color;
            opacity: 0.9;
            justify-content:right;
        }
    }
}