// Estilos del pie de página
footer {
    height: 15vh;
    width: 100%;
  }
// Estilos del pie de página "footerprocedimientos"
#footerprocedimientos {
    height: 20%;
    background-color: #87c0ca;
    grid-row: 3;
    text-align: center;
  }
    