$link-color: black;

@mixin footer-styles {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    flex-direction: column;
  
    ul {
      color: black;
      margin: 0;
      padding: 0;
  
      a {
        color: black;
        list-style: none;
        text-decoration: none;
      }
    }
  
    .social-icons {
      color: black;
      display: flex;
      justify-content: flex-end;
      text-align: center;
  
      a {
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        transition: 0.5s;
  
        &:hover {
          transform: translateY(-3%);
        }
  
        i {
          font-size: 2rem;
          color: black;
          opacity: 0.9;
        }
      }
    }
  }
  
  #footerprocedimientos {
    @include footer-styles;
  }
  
 